// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$red: rgb(214 9 5);
$aqua: rgb(4 176 188);
$yellow: rgb(247 220 10);
$cream: rgb(243 217 184);
$black: #000;
$white: #fff;
$orange: #f37722;
$primary: $black;
$lime: rgb(68 243 0);
$pink: #FF69B4;